{% extends "base.twig" %}

{% block content %}

	<div class="page-article">

    {% include "article-header-nav.twig" with {'featured' : post} %}


		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				{{post.content}}
			</section>

			<div class="social">
			  <a href="#"><img src="../assets/img/social/facebook.png" height="44" width="44" alt="Share on Facebook"></a>
			  <a href="#"><img src="../assets/img/social/twitter.png" height="44" width="44" alt="Share on Twitter"></a>
			  <a href="#"><img src="../assets/img/social/tumblr.png" height="44" width="44" alt="Share on Tumblr"></a>
			  
			  <br>

			  <g:plusone size="tall"></g:plusone>
			  <div class="fb-like" data-href="https://lasa2017.com" data-layout="box_count" data-action="recommend" data-show-faces="false" data-share="false"></div>
			  
			</div>

		</article>
	</div><!-- /content-wrapper -->

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=983692611651336";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}
